<div class="header alignment-{{navigation_alignment}} position-{{navigation_position}}">
    <a id="logo" href="/">
      <!-- {{#avatar}}
      <img class="avatar {{#roundAvatar}}rounded{{/roundAvatar}}" src="{{avatar}}" alt="{{title}}"/>
      {{/avatar}} -->
      {{title}}
    </a>
    <div class="nav">
      {{#menu}}
      <a href="{{{url}}}" title="{{label}}">{{label}}</a>
      {{/menu}}
      <a rel="me" href="https://fosstodon.org/@brandont">Mastodon</a>
      <a href="https://twitter.com/dontbran">Twitter</a>
    </div>
</div>
